/* Custom scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #2d3748; /* Darker grey */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #4a5568; /* Medium grey */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6a7588; /* Lighter grey on hover */
}
